*:before,
*:after {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.top {
    background-color: red;
    height: 80px;
}

.left-side {
    background-color: yellow;
    float: left;
    height: 700px;
    width: 80px;
}

.right-side {
    background-color: yellow;
    float: right;
    height: 700px;
    width: 80px;
}

.bottom {
    background-color: green;
    height: 75px;
    margin-top: 620px;
}

.middle {
    background-color: blue;
    height: 700px;
    width: 100%;
}
